*{
   margin: 0;
}
body{
    background-color:  cadetblue;
}
/*general*/
#app-name h1{
    text-align: center;
    margin: 44px 0 0 100px;
}
.register-btn{

}
.login-btn{

}
.detail-btn{
    background-color: black;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}
/*header*/
header{
    display: flex;
    height: 200px;
    width: 100%;
    background-color: cadetblue;
    overflow:hidden;
}
.header-left-block{
    border: 5px solid rgb(2, 47, 133);
    height: 190px;
    float: left;
    width: calc(100% - 300px);
}
.header-right-block{
    width: 300px;
    float: right;
    height: 190px;
    border: 5px solid rgb(2, 47, 133);
    border-left: 0px;
}
.menu-container{
    margin: 80px 19px 0 55px;
    display: block;
}
.menu{
    width: 80%;
    list-style-type: none;
    display: inline-flex;
}
.menu a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    width: 15%;
}
.menu-item-red{
    background-color: red;
    margin: 0 50px 0px 0;
    border: 1px solid black;
    border-radius: 1em;
    padding: 3px 5px;
}
.menu-item-purple{
    background-color: purple;
    margin: 0 50px 0px 0;
    border: 1px solid black;
    border-radius: 1em;
    padding: 3px 5px;
}
.menu-item-green{
    background-color: green;
    margin: 0 50px 0px 0;
    border: 1px solid black;
    border-radius: 1em;
    padding: 3px 5px;
}
.menu-item-orange{
    background-color: orange;
    margin: 0;
    border: 1px solid black;
    border-radius: 1em;
    padding: 3px 5px;
}
.menu-item-red a, .menu-item-purple a, .menu-item-green a, .menu-item-orange a{
    width: 25%;
    text-decoration: none;
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 2px;
}
.login-details{
    display: block;
    margin: 43 10px;
}
.login-details-buttons{
    margin: 40px 10px 0px 37px;
}
.user-login{
    list-style-type: none;
}
.user-login li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
/*login-register*/
.form-section{
    width: 100%;
    margin: 50px 0;
}
.form-grid{
    border: 5px solid rgb(14, 163, 0);
    display: flex;
    height: 300px;
    margin: auto;
    width: 80%;
    background-color: rgb(7, 219, 0);
    overflow:hidden;
}
.register-form-grid{
    background-color: rgb(7, 219, 0);
}
.login-form-grid{
    background-color: rgb(7, 219, 0);
}
.login-form{
    margin: 25px;
}
.register-form{
    margin: 25px;
}
.button-right{

}
.button-left{

}
/*dashboard*/
.metro-style-blocks-grid{
    position: absolute;
    left: 16%;
    text-align: center;
    display: inline-flex;
    margin: 0 50px;
    flex-direction: row;
    flex-wrap: wrap;
}
.metro-block-red{
    color: #fff;
    text-decoration: none;
    margin: 50px;
    min-width: 350px;
    min-height: 300px;
    border: 2px solid darkred;
    background-color: red;
}
.metro-block-green{
    color: #fff;
    text-decoration: none;
    margin: 50px;
    min-width: 350px;
    min-height: 300px;
    border: 2px solid darkgreen;
    background-color: green;
}
.metro-block-purple{
    text-decoration: none;
    color: #fff;
    margin: 50px;
    min-width: 350px;
    min-height: 300px;
    border: 2px solid darkmagenta;
    background-color: purple;
}
.metro-block-orange{
    text-decoration: none;
    color: #fff;
    margin: 50px;
    min-width: 350px;
    min-height: 300px;
    border: 2px solid orangered;
    background-color: orange;
}
/*blogoverzicht*/
.metro-style-blog-overview{
    display: flex;
    flex-direction: row;
}
.filter-blog-red{
    border: 2px solid darkred;
    background-color: red;
    margin: 51px 20px;
    width: 200px;
    height: 250px;
}
.filter-radio{

}
.blog-image{

}
.blog-btn{

}
/*create blog*/
.create-blog{

}
.create-blog-button{
    
}
.create-blog-form-container{

}
.create-blog-form{

}
.create-blog-form-grid{

}

/*footer*/
footer{

}
.middle-footer{

}
.footer-text {
    
}
.footer-text p{

}
.errorRegister{
    color: red;
    position: absolute;
    top: 470px;
    left: 155px;
}
.errorLogin{
    color: red;
    position: absolute;
    top: 392px;
    left: 637px;
}
.metro-block-red{
    color: #fff;
}



